
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  body{ 
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(187,186,186,1) 96%);
  }
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .main-grid{
    padding-top: 50px;
  }
<<<<<<< HEAD

=======
>>>>>>> fcb368dde7635840b308136b72d2766087b6ccc9
