@import "src/styles/vars.scss";

  .center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .main-grid {
    padding-top: 50px;
  }
  .relative {
    position: relative;
  }
  .absolute-z {
    position: absolute;
    z-index: 99;
  }
  .m-auto {
    margin: 0 auto;
  }
  .base-button {
    border: solid 4px $light-blue;
    border-radius: 50px;
    width: 218px;
    height: 64px;
    padding: 15px 40px;
    margin: 34px auto;
    letter-spacing: 1.5px;
    font-size: 14px;
  }