.center{
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-grid{
  padding-top: 50px;
}
.relative{
  position: relative;
}
.absolute-z{
  position: absolute;
  z-index: 99;
  
}